# {{ ansible_managed }}
[Unit]
Description=OpenCanary honeypot daemons
After=network.target

[Service]
ExecStart=/usr/local/bin/opencanaryd --dev
ExecStop=/usr/local/bin/opencanaryd --stop
User={{ opencanary_user }}
Group={{ opencanary_group }}
PIDFile={{ opencanary_pid }}
WorkingDirectory={{ opencanary_path }}

[Install]
WantedBy=multi.user.target
